rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Regra genérica que proíbe tudo por padrão, a menos que uma regra mais específica permita.
    match /{document=**} {
      allow read, write: if false;
    }

    // Coleção de usuários (dados básicos do perfil)
    match /usuarios/{userId} {
      // Usuários só podem ler e escrever seus próprios dados de perfil
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null; // Permite que qualquer usuário autenticado crie seu próprio documento de perfil
    }

    // Coleção de cartões (subcoleção de usuários)
    match /usuarios/{userId}/cartoes/{cartaoId} {
      // Usuários só podem ler, criar, atualizar e deletar seus próprios cartões
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Subcoleção de gastos de cartões
    match /usuarios/{userId}/cartoes/{cartaoId}/gastos/{gastoId} {
      // Usuários só podem ler, criar, atualizar e deletar seus próprios gastos de cartões
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção de despesas gerais (compra única, outras recorrências)
    match /usuarios/{userId}/gastos/{gastoId} {
      // Usuários só podem ler, criar, atualizar e deletar suas próprias despesas
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção de assinaturas
    match /usuarios/{userId}/assinaturas/{assinaturaId} {
      // Usuários só podem ler, criar, atualizar e deletar suas próprias assinaturas
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção de Pix Parcelados
    match /usuarios/{userId}/pix/{pixId} {
      // Usuários só podem ler, criar, atualizar e deletar seus próprios Pix parcelados
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção de Boletos Parcelados
    match /usuarios/{userId}/boletos/{boletoId} {
      // Usuários só podem ler, criar, atualizar e deletar seus próprios Boletos parcelados
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção de Financiamentos
    match /usuarios/{userId}/financiamentos/{finId} {
      // Usuários só podem ler, criar, atualizar e deletar seus próprios Financiamentos
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }

    // Coleção de Empréstimos
    match /usuarios/{userId}/emprestimos/{empId} {
      // Usuários só podem ler, criar, atualizar e deletar seus próprios Empréstimos
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
  }
}